/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Cairo', sans-serif; */
/* font-family: 'Work Sans', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
body{
	font-family: 'Work Sans', sans-serif;
	color: #5a6e79; 
	background-image: url('../images/bg.jpg');

}
/* common part */

/* common part */

.header_slider{
	background-image: url('../images/slider_bg.png');
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center;
	min-height: 900px;
}
/* hrader start */
header{
	    padding-top: 15px;
	    padding-bottom: 40px;

}
.menu{}
.menu ul li a{
    font-size: 16px;
    color: #5a6e79 !important;
    margin: 0 25px !important;
    transition: .3s;
   
}
.menu ul li:first-child a{
	margin-left: 0 !important;
}
.menu ul li a:hover{
	color: #ffc178 !important;
		
}

.cus_btn {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #5a6e79;
    border-radius: 20px;
    border-color: transparent;
    background-color: #ffffff;
}
.cus_btn:focus {
    outline: 0;
    box-shadow: none;
}

.cus_btn:hover {
    color: #ffc480;
    background-color: #ffffff;
    border-color: #ffffff;
}

/* /* header end */
/* banner start */
.banner{}
.banner_content {
	margin-top: 100px;
    margin-left: 20px;
}
.banner_content h1{
	margin-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 42px;
    font-weight: 700;
    color: #ffc178;
}
.banner_content p {
	margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    word-spacing: 2px !important;
    line-height: 30px;
}
 .cb_btn{
 	margin-left: 30px;
 }
/* banner end */
/* department start */
.department {
    padding-bottom: 50px;
}
.dp_content {
    margin-bottom: 30px;
}
.dp_content h1 {
    font-size: 40px;
    font-weight: 700;
    color: #252c3a;
    margin-bottom: 20px;
}
.dp_content p {
    word-spacing: 2px;
}
.single_item{}
.cus_card{

	background-color: #f9703a;
}
.cus_card2{
	background-color: #80be41;
}
.cus_card img{}
.card_C_body{}
.card_C_body p {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}
/* another part */
.student_learning {
	margin-top: 50px;
    margin-bottom: 50px;
    
}
.circle{}
.circle img {
    margin-top: 10px;
}
.st_content{}
.st_content h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #252c3a;
}
.st_content p{}
.sn{}
.sn1 {
	margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #ffba00;
}
.sn2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #ffba00;
}
.sn_c{
	color: #ff5f72;
}
.sn_l{
	color: #43cb83;
}
/* department end */
/* around start */
.around {
    padding-top: 50px;
    padding-bottom: 40px;
}
.card1_cus {
    margin-bottom: 20px;
}
.cus_c_title{
    font-size: 16px;
    font-weight: 500;
}
.cus_c_title:hover{
	color: #ffc178;
	text-decoration: underline;
}

.cus_c_text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.around_btn{
	font-size: 14px;
	color: #252c3a;

}
.around_btn:focus {
    outline: 0;
    box-shadow: none;
}
/* around end */

/* contact start */
.contact {
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #252c3a;
}
.contact1{}
.contact1 a{}
.contact1 a img{}
.contact1 p {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.cus_contact1 li i {
    padding: 10px;
    font-size: 18px;
}
.contact2{}
.contact2 h3 {
	margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.contact2 p a{
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #969595;
    text-decoration: none;
}
.contact3{}
.contact3 h3{
	margin-bottom: 25px;
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
}
.contact3 p a{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
    color: #969595;
    text-decoration: none;
}
.contact4{}
.contact4 h3{
	margin-bottom: 25px;
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
}
.contact4 p{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
    color: #969595;

}
.con_cus_btn {
    background-color: #ffc178;
    color: #ffffff;
}

/* contact end */
